.movies-cards {
  padding-top: 70px;
  padding-bottom: 10px;
}

.movies-cards__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(364px, 1fr));
  gap: 37px 24px;
  padding: 0;
  margin: 0;
}

/* ----------------------------------------------- */

@media screen and (max-width: 1024px) {

  .movies-cards__grid {
    grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
    gap: 29px 30px;
  }
}

@media screen and (max-width: 768px) {
  .movies-cards {
    padding-bottom: 29px;
  }
}

@media screen and (max-width: 850px) {
  .movies-cards__grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

}