.movies-card {
  list-style: none;
  display: block;
  cursor: pointer;
}

.movies-card__image {
  width: 100%;
  display: block;
  object-fit: contain;
  margin-bottom: 16px;
  aspect-ratio: 364/203;
  border-radius: 13px 13px 0 0;
}

.movies-card__info-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 21px 16px 16px;
}

.movies-card__info {
  width: 100%;
}

.movies-card__title {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  line-height: 16px;
}

.movies-card__duration {
  margin: 0;
  font-size: 11px;
  font-weight: 400;
  color: #8B8B8B;
  line-height: 13px;
}

.movies-card__like-btn {
  width: 14px;
  height: 12px;
  background-image: url(../../images/like-btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  padding: 17px 7px 0 7px;
}

.movies-card__like-btn_active {
  width: 14px;
  height: 12px;
  background-image: url(../../images/like-btn-active.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  padding: 17px 7px 0 7px;
}

.movies-card__delete-btn {
  opacity: 0;
  width: 18px;
  height: 18px;
  background-image: url(../../images/delete-btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  padding: 17px 7px 0 7px;
  transition: all .4s ease;
  border-radius: 9px;
}

.movies-card__delete-btn:hover {
  background-color: #2F2F2F;
  transform: scale(1.5);
}

.movies-card:hover .movies-card__delete-btn {
  opacity: 1;
}

/* ----------------------------------------------- */

@media screen and (max-width: 768px) {

  .movies-card__image {
    margin-bottom: 14px;
  }

  .movies-card__title {
    margin-bottom: 15px;
  }

  .movies-card__info-wrapper {
    margin: 0 22px 16px 16px;
  }
}

/* ----------------------------------------------- */

@media screen and (max-width: 450px) {

  .movies-card__title {
    font-size: 12px;
    margin-bottom: 15px;
    line-height: 15px;
  }

  .movies-card__duration {
    font-size: 10px;
    line-height: 12px;
  }

  .movies-card__info-wrapper {
    margin: 0 18px 16px 16px;
  }
}