.movies-card {
  list-style: none;
  display: block;
  cursor: pointer;
}

.movies-card__image {
  width: 100%;
  display: block;
  object-fit: contain;
  margin-bottom: 16px;
  aspect-ratio: 364/203;
  border-radius: 9px 9px 0 0;
}

.movies-card__info-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 24px 16px 16px;
}

.movies-card__info {
  width: 100%;
}

.movies-card__title {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.movies-card__duration {
  margin: 0;
  font-size: 11px;
  font-weight: 400;
  color: #8B8B8B;
}

.movies-card__like-btn {
  width: 14px;
  height: 12px;
  background-image: url(../../images/like-btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  padding: 17px 7px 0 7px;
}

.movies-card__delete-btn {
  width: 16.84px;
  height: 21.58px;
  background-image: url(../../images/delete-btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  padding: 17px 7px 0 7px;
}