.movies {
  padding: 0 70px;
}

/* ----------------------------------------------- */

@media screen and (max-width: 768px) {
  .movies {
    padding: 0 30px;
  }
}

/* ----------------------------------------------- */

@media screen and (max-width: 450px) {
  .movies {
    padding-left: 10px;
    padding-right: 10px;
  }
}