.profile {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 74px;
  padding-bottom: 70px;
}

.profile__container {
  max-width: 410px;
  width: 100%;
  text-align: center;
}

.profile__title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 123px 0;
  width: 100%;
  line-height: 29px;
}

.profile__form {
  width: 100%;
}

.profile__input-container {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  width: 100%;
}

.profile__label {
  font-size: 11px;
  font-weight: 500;
  border-bottom: 1px solid #424242;
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  margin-bottom: 5px;
  width: 100%;
  line-height: 13px;
}

.profile__input {
  font-size: 11px;
  font-weight: 400;
  background-color: #202020;
  color: #FFF;
  border: none;
  text-align: end;
  line-height: 13px;
  transition: all .4s ease;
  width: 80%;
}

.profile__message-error {
  font-size: 10px;
  font-weight: 400;
  color: #EE3465;
  line-height: 12px;
  height: 12px;
  overflow: hidden;
  max-width: 396px;
  width: 80vw;
}

.profile__submit-error {
  font-size: 14px;
  font-weight: 400;
  color: #EE3465;
  line-height: 14px;
  height: 28px;
  overflow: hidden;
  max-width: 396px;
  margin: 0;
  text-align: center;
  visibility: hidden;
}

.profile__submit-error_active {
  visibility: visible;
}

.profile__submit-btn {
  font-size: 13px;
  font-weight: 400;
  color: #FFF;
  background-color: #202020;
  border: none;
  margin: 157px 0 16px 0;
  padding: 0;
  line-height: 16px;
  vertical-align: bottom;
  transition: all .4s ease;
}

.profile__submit-btn_disable {
  color: #C2C2C2;
}

.profile__submit-btn_disable:hover {
  cursor: default;
}

.profile__close-btn {
  font-size: 13px;
  font-weight: 500;
  color: #EE3465;
  background-color: #202020;
  border: none;
  padding: 0;
  line-height: 16px;
  text-decoration: none;
  vertical-align: top;
  transition: all .4s ease
}

/* ----------------------------------------------- */

@media screen and (max-width: 768px) {
  .profile {
    padding-top: 236px;
  }

  .profile__title {
    margin: 0 0 96px 0;
  }

  .profile__submit-btn {
    margin: 145px 0 16px 0;
  }

}


/* ----------------------------------------------- */

@media screen and (max-width: 450px) {
  .profile {
    padding: 70px 30px 40px;
  }

  .profile__title {
    margin: 0 0 80px 0;
  }


  .profile__submit-btn {
    font-size: 12px;
    line-height: 15px;
    margin: 314px 0 16px 0;
  }

  .profile__close-btn {
    font-size: 12px;
    line-height: 15px;
  }

}