.movies-more {
  padding-top: 50px;
  padding-bottom: 80px;
}

.movies-more__btn {
  font-size: 12px;
  font-weight: 500;
  color: #FFF;
  width: 100%;
  height: 36px;
  background-color: #2F2F2F;
  border: none;
  border-radius: 6px;
}