.movies-more {
  padding-top: 50px;
  padding-bottom: 80px;
}

.movies-more__btn {
  visibility: hidden;
  font-size: 12px;
  font-weight: 500;
  color: #FFF;
  width: 100%;
  height: 36px;
  background-color: #2F2F2F;
  border: none;
  border-radius: 6px;
  line-height: 15px;
}

.movies-more_not-visible {
  padding-top: 158px;
  padding-bottom: 80px;
}

.movies-more__btn_active {
  visibility: visible;
}

/* ----------------------------------------------- */

@media screen and (max-width: 768px) {

  .movies-more_not-visible {
    padding-top: 60px;
  }
}

/* ----------------------------------------------- */

@media screen and (max-width: 450px) {

  .movies-more {
    padding-bottom: 98px;
  }
}