.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 30px;
}

.navigation__link {
  text-decoration: none;
  color: #FFF;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

.navigation__link_signin {
  color: #000;
  background-color: #3DDC84;
  padding: 8px 20px;
  border-radius: 3px;
}