.header {
  display: flex;
  padding: 18px 70px;
}

.header__background_theme_main {
  background-color: #073042;
}

.header__background_theme_other {
  background-color: #202020;
}

/* -------------------------------------------- */

@media screen and (max-width: 768px) {
  .header {
    padding: 18px 30px;
  }
}