.header {
  display: flex;
  padding-top: 18px;
  padding-bottom: 18px;
}

.header__background_theme_main {
  background-color: #073042;
}

.header__background_theme_other {
  background-color: #202020;
}