.header {
  display: flex;
  padding-top: 18px;
  padding-bottom: 18px;
}

.header__background_theme_main {
  background-color: #073042;
}

.header__background_theme_other {
  background-color: #202020;
}

.header__logo {
  background-image: url(../../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 38px;
  height: 38px;
  padding-right: 48px;
}