.about-project {
  padding-top: 110px;
  padding-bottom: 101px;
}

.about-project__list {
  margin: 70px 0 110px 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 40px;
  list-style: none;
}

.about-project__item {
  max-width: 550px;
}

.about-project__subtitle {
  margin: 0 0 26px 0;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -.8px;
  line-height: 24px;
}

.about-project__paragraph {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.timeline {
  display: flex;
  width: 100%;
}

.timeline__first-column {
  width: 20%;
}

.timeline__second-column {
  width: 80%;
}

.timeline__item {
  padding: 9px 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 17px;
}

.timeline__item_name {
  color: #8B8B8B;
  padding-top: 14px;
}

.timeline__item_green {
  color: #000;
  background-color: #3DDC84;
}

.timeline__item_grey {
  background-color: #8B8B8B;
}

/* ----------------------------------------------- */

@media screen and (max-width: 768px) {

  .about-project {
    padding-top: 90px;
    padding-bottom: 82px;
  }

  .about-project__paragraph {
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__subtitle {
    margin: 0 0 22px 0;
  }

  .about-project__list {
    margin: 70px 0 93px 0;
    gap: 37px;
  }

  .timeline__first-column {
    width: 21%;
  }

  .timeline__second-column {
    width: 79%;
  }
}