.logo {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 38px;
  height: 38px;
  padding: 19px;
  box-sizing: border-box;
}

/* ----------------------------------------------- */

@media screen and (max-width: 450px) {

  .logo {
    margin: 0 auto;
  }
}