.section {
  padding: 0 70px;
  margin: 0 auto;
}

.section__title {
  margin: 0;
  padding-bottom: 23px;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -1px;
  border-bottom: #DADADA 1px solid;
  line-height: 27px;
}

/* ----------------------------------------------- */

@media screen and (max-width: 768px) {
  .section {
    padding: 0 30px;
  }
}

/* ----------------------------------------------- */

@media screen and (max-width: 450px) {
  .section {
    padding: 0 14px;
  }

  .section__title {
    font-size: 18px;
    letter-spacing: -1px;
    line-height: 22px;
    padding-bottom: 28px;
  }
}