.section {
  padding: 0 70px;
  margin: 0 auto;
}

.section__title {
  margin: 0;
  padding-bottom: 23px;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -1px;
  border-bottom: #DADADA 1px solid;
}