.techs {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #272727;
}

.techs__subtitle {
  margin: 90px 0 26px 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  text-align: center;
  letter-spacing: -2px;
}

.techs__paragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -.6px;
  margin: 0 auto 100px;
  text-align: center;
  max-width: 460px;
}

.techs__list {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
}

.techs__item {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -1px;
  width: 90px;
  height: 60px;
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  line-height: 17px;
}